{% extends 'base.html' %} 
{% block content %}

{% load cart%}
{% load custom_filter%}
<div class="container">
<h1>Cart</h1>
<div class="border rounded p-4 m-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="2">Product</th>
        <th scope="col" style="text-align: right;">Price</th>
        <th scope="col" style="text-align: right;" >No Of Items</th>
        <th scope="col" style="text-align: right;">Subtotal</th>
      </tr>
    </thead>
    <tbody>
        {% for product in products%}
      <tr>
        <td >{{forloop.counter}}</td>
        <th><img style="height:80px ;" class='rounded-circle' src="{{product.image.url}}"/></th>
        <td>{{product.name}}</td>
        <td style="text-align: right;">{{product.price|currency}}</td>
        <td style="text-align: right;">{{product|quantity_in_cart:request.session.cart}}</td>
        <td style="text-align: right;">{{product|product_items_cost:request.session.cart|currency}}</td>
      </tr>
      
     {% endfor %}
     <tr>
        <th colspan="5">Total</th>
        <th>{{products|cart_cost:request.session.cart|currency}}</th>
      </tr>
    </tbody>
  </table>
</div></div>
 {% endblock %}
